body  {
  padding-top: 10%;
}


.bike-image {
  width: 99%;
  height: 99%;
}

#found {
  background: #5A785A;
}

.map-canvas {
  width: 400px;
  height: 300px;
}

#notFound {
  background: #B22400;
}

ul.unstyled-list li {
  list-style: none;
}

/*li { 
  background: green;
}

li:nth-child(odd) {
  background: red;
}*/
