body  {
  padding-top: 10%;
}


.bike-image, #bike-image {
  width: 50%;
  height: 50%;
}

#found {
  background: #5A785A;
}

.map-canvas {
  width: 400px;
  height: 300px;
}

#notFound {
  background: #B22400;
}

ul.unstyled-list li {
  list-style: none;
}

#stripe ul li:nth-child(even) {
  background: green;
}

#stripe ul li:nth-child(odd) {
  background: red;
}
