<form>
  <div class="form-group">
    {{input value=name id="name" placeholder="your name"}}
  </div>
  <div class="form-group">
    {{textarea value=text input=text id="text" placeholder="message..."}}
  </div>
  <button class="btn" {{action 'save'}}>Add</button>
</form>
