<h1 class="page-header text-center">All registered users</h1>

{{#each model as |user|}}
  <ul>
    <li class="all-bikes">{{#link-to 'user' user.id}}<img src="assets/images/biker.png" />
      <h3>{{user.name}}</h3>
      {{/link-to}}</li>
  </ul>
{{/each}}
